In [2]:
import io
from IPython.nbformat import current

def execute_notebook(nbfile):
    
    with io.open(nbfile) as f:
        nb = current.read(f, 'json')
    
    ip = get_ipython()
    
    for cell in nb.worksheets[0].cells:
        if cell.cell_type != 'code':
            continue
        ip.run_cell(cell.input)
execute_notebook("../workers/Imports.ipynb")

Populating the interactive namespace from numpy and matplotlib

//anaconda/lib/python2.7/site-packages/IPython/core/magics/pylab.py:161: UserWarning: pylab import has clobbered these variables: ['angle', 'datetime', 'absolute']
`%matplotlib` prevents importing * from pylab and numpy
  "\n`%matplotlib` prevents importing * from pylab and numpy"

In [3]:
practice_files = [x for x in os.listdir('../../raw_data/by_month/')]
dfs = []
for practice_file in practice_files:
    print practice_file
    if practice_file in ['Aug2017Shots.csv', 'Oct2017Shots.csv', 'Sept2017Shots.csv']:
         tmp = pd.read_csv('../../raw_data/by_month/{0}'.format(practice_file))
    else:
        tmp = pd.read_csv('../../raw_data/by_month/{0}'.format(practice_file), sep='\t')
    dfs.append(tmp)
df = pd.concat(dfs)
df = add_columns(df)

Apr2017Shots.csv
Aug2017Shots.csv

//anaconda/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (7,26) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

Dec2016Shots.csv

//anaconda/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (7,14,22) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

Feb2017Shots.csv
Jan2017Shots.csv

//anaconda/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (7,22) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

Jul2017Shots.csv
Jun2017Shots.csv
Mar2017Shots.csv
May2017Shots.csv

//anaconda/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (7,14,22,26) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

Nov2016Shots.csv
Oct2017Shots.csv

//anaconda/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

Sept2017Shots.csv

In [4]:
df.head()

,id,angle,shot_distance,trajectory,velocity,ball_height,shot_date,classified,left_right,depth,...,is_layup,floor_position_x_inch,floor_position_y_inch,floor_position_x_feet,floor_position_y_feet,shot_distance_squared,angle_rounded,depth_rounded,left_right_rounded,numeric_make_miss
0,10210360,70.130905,3.490186,0.0,3.462931,3445.057908,2017-04-01 00:00:38,True,15.198205,3.037244,...,False,41.881158,0.300116,3.490096,0.025010,12.181399,70,3,15,0
1,10210371,46.321323,23.039095,0.0,7.884435,4649.984380,2017-04-01 00:00:19,True,6.186162,6.293659,...,False,271.329383,53.061776,22.610782,4.421815,530.799904,46,6,6,0
2,10210380,44.155507,23.347676,0.0,7.817043,4577.827853,2017-04-01 00:00:38,True,9.341701,12.128387,...,False,230.708247,158.965784,19.225687,13.247149,545.113997,44,12,9,0
3,10210396,46.703295,16.593315,0.0,6.181659,4158.558743,2017-04-01 00:01:45,True,-3.986411,15.887308,...,False,121.178625,158.001358,10.098219,13.166780,275.338113,47,16,-4,1
4,10210405,44.245909,22.665779,0.0,7.673989,4536.536900,2017-04-01 00:02:11,True,-1.750643,12.801992,...,False,145.322148,229.912333,12.110179,19.159361,513.737552,44,13,-2,1

In [5]:
df.columns

Index([u'id', u'angle', u'shot_distance', u'trajectory', u'velocity',
       u'ball_height', u'shot_date', u'classified', u'left_right', u'depth',
       u'floor_position_x', u'floor_position_y', u'ball_position_x',
       u'ball_position_y', u'make_miss', u'excluded', u'ball_points',
       u'constant_a', u'constant_b', u'constant_c', u'volume_level',
       u'feedback_type', u'clean_make', u'hoop_id', u'inserted_at',
       u'updated_at', u'player_id', u'location_id', u'session_id',
       u'is_free_throw', u'is_bank_shot', u'is_layup',
       u'floor_position_x_inch', u'floor_position_y_inch',
       u'floor_position_x_feet', u'floor_position_y_feet',
       u'shot_distance_squared', u'angle_rounded', u'depth_rounded',
       u'left_right_rounded', u'numeric_make_miss'],
      dtype='object')

In [6]:
len(df), len(df[(df.player_id != '0')&(df.player_id != 0)])

(24379710, 7835243)

In [7]:
new_identified = df[(df.player_id != '0')&(df.player_id != 0)]

In [8]:
df_old = pd.read_csv('../../raw_data/old.individually_labelled.csv', index_col=0)
df_old = add_columns(df_old)

//anaconda/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (4,22,23,27) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [9]:
combined = pd.concat([new_identified, df_old], join='inner')

In [10]:
combined.to_csv('../../processed_data/identified_shots.csv')

In [11]:
len(combined)

8145263